[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
flask-restful = "*"
flask-cors = "*"
flask-session = "*"
flask-bcrypt = "*"
python-dotenv = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.12"
